.color-navbar {
  background-color: #116698;
  background-image: linear-gradient(160deg, #116698 0%, #07645a 100%);

}

.color-texto-marca {
  color: #354977 !important;
}

.margen-superior-main {
  margin-top: 60px;
}

/* Línea superior animada */
.color-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 3px;
  background: linear-gradient(90deg, #3a7bd5, #8ac4ff, #3a7bd5);
  animation: slide 5s linear infinite;
  opacity: 0.7;
}

/* Para las tarjetas de catalago */
/* Animación de aparición con deslizamiento suave hacia arriba */
@keyframes fadeSlideUp { /* NUEVO */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación general para la tarjeta al cargar */
.tarjeta-producto {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
}

.tarjeta-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.tarjeta-producto img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.badge-container {
  flex-wrap: wrap;
}

/* Resplandor en el borde */
.tarjeta-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1),
              0 0 10px rgba(0, 123, 255, 0.4);
  border: 1px solid rgba(0, 123, 255, 0.6);
}

/* Animación de giro */
.tarjeta-producto:hover {
  transform: translateY(-5px) rotateZ(-1deg);
}

.titulo-blanco .dropdown-toggle {
  color: white !important;
  font-weight: bold;
}

.titulo-negro .dropdown-toggle {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}



