.color-navbar {
  background-color: #116698;
  background-image: linear-gradient(160deg, #116698 0%, #07645a 100%);

}

.color-texto-marca {
  color: #354977 !important;
}

.margen-superior-main {
  margin-top: 60px;
}